.1_2 {
	overflow: hidden;
}
.e1_2 {
	background-color: rgba(255, 255, 255, 1);
	width: 1440px;
	height: 1024px;
	position: absolute;
}
.e1_3 {
	color: rgba(0, 0, 0, 1);
	width: 353px;
	height: 74px;
	position: absolute;
	left: 146px;
	top: 76px;
	font-family: Inter;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
}
.e1_630 {
	color: rgba(0, 0, 0, 1);
	width: 353px;
	height: 74px;
	position: absolute;
	left: 146px;
	top: 260px;
	font-family: Inter;
	text-align: left;
	font-size: 36px;
	letter-spacing: 0;
}
.e1_6 {
	color: rgba(66.3855005800724, 66.3855005800724, 66.3855005800724, 1);
	width: 1170px;
	height: 70px;
	position: absolute;
	left: 144px;
	top: 150px;
	font-family: Inter;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e1_12 {
	width: 61px;
	height: 61px;
	position: absolute;
	left: 1245px;
	top: 84px;
}
.ei1_12_54616_25470 {
	background-color: rgba(
		29.000000171363354,
		27.000000290572643,
		32.00000189244747,
		1
	);
	width: 45.75px;
	height: 45.75px;
	position: absolute;
	left: 7.624999523162842px;
	top: 7.624999523162842px;
}
.e1_16 {
	width: 61px;
	height: 61px;
	position: absolute;
	left: 1168px;
	top: 84px;
}
.ei1_16_54616_25528 {
	background-color: rgba(
		29.000000171363354,
		27.000000290572643,
		32.00000189244747,
		1
	);
	width: 50.833335876464844px;
	height: 50.833335876464844px;
	position: absolute;
	left: 5.0833330154418945px;
	top: 5.0833330154418945px;
}
.e1_419 {
	background-color: rgba(
		206.57062590122223,
		231.88316524028778,
		242.73144632577896,
		1
	);
	width: 440px;
	height: 207px;
	position: absolute;
	left: 146px;
	top: 322px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.1_419 {
	border: 1px solid
		rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei1_419_2142_11390 {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 24px;
	top: 24px;
}
.i1_419_2142_11390_7758_11754 {
	border: 3px solid
		rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
}
.ei1_419_2142_11390_7758_11754 {
	width: 26.666667938232422px;
	height: 26.666667938232422px;
	position: absolute;
	left: 2.666666269302368px;
	top: 2.666666269302368px;
}
.ei1_419_2142_11580 {
	width: 336px;
	height: 159px;
	position: absolute;
	left: 80px;
	top: 24px;
}
.ei1_419_2142_11581 {
	width: 336px;
	height: 103px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.ei1_419_280_11368 {
	color: rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width: 336px;
	height: 29px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 24px;
	letter-spacing: -2;
}
.ei1_419_280_11672 {
	color: rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width: 336px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 37px;
	font-family: Inter;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}
.ei1_419_2142_11584 {
	width: 336px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 119px;
}
.ei1_419_2142_11584_108_12612 {
	background-color: rgba(
		227.4128419160843,
		227.4128419160843,
		227.4128419160843,
		1
	);
	width: 55px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.i1_419_2142_11584_108_12612 {
	border: 1px solid
		rgba(118.0326484143734, 118.0326484143734, 118.0326484143734, 1);
}
.ei1_419_2142_11584_108_12612_9762_5085 {
	color: rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width: 31px;
	height: 16px;
	position: absolute;
	left: 12px;
	top: 12px;
	font-family: Inter;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}
.e1_632 {
	background-color: rgba(
		206.57062590122223,
		231.88316524028778,
		242.73144632577896,
		1
	);
	width: 440px;
	height: 207px;
	position: absolute;
	left: 642px;
	top: 322px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.1_632 {
	border: 1px solid
		rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei1_632_2142_11390 {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 24px;
	top: 24px;
}
.i1_632_2142_11390_7758_11754 {
	border: 3px solid
		rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
}
.ei1_632_2142_11390_7758_11754 {
	width: 26.666667938232422px;
	height: 26.666667938232422px;
	position: absolute;
	left: 2.666666269302368px;
	top: 2.666666269302368px;
}
.ei1_632_2142_11580 {
	width: 336px;
	height: 159px;
	position: absolute;
	left: 80px;
	top: 24px;
}
.ei1_632_2142_11581 {
	width: 336px;
	height: 103px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.ei1_632_280_11368 {
	color: rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width: 336px;
	height: 29px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 24px;
	letter-spacing: -2;
}
.ei1_632_280_11672 {
	color: rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width: 336px;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 37px;
	font-family: Inter;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}
.ei1_632_2142_11584 {
	width: 336px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 119px;
}
.ei1_632_2142_11584_108_12612 {
	background-color: rgba(
		227.4128419160843,
		227.4128419160843,
		227.4128419160843,
		1
	);
	width: 55px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.i1_632_2142_11584_108_12612 {
	border: 1px solid
		rgba(118.0326484143734, 118.0326484143734, 118.0326484143734, 1);
}
.ei1_632_2142_11584_108_12612_9762_5085 {
	color: rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width: 31px;
	height: 16px;
	position: absolute;
	left: 12px;
	top: 12px;
	font-family: Inter;
	text-align: left;
	font-size: 16px;
	letter-spacing: 0;
}
